.trending-title {
  color: white;
  font-weight: bold;
}

.trending-list {
  /*list-style-position: inside;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;  
  padding-left: 0px;
}

.trending-link {
  color: white;
  font-size: 0.9em;
  padding: 0.5em;
  transition: color ease-in 0.1s;
  text-decoration: none;
}

.trending-link:hover {
  color: #949394;
}

@media screen and (min-width: 800px) {
  .trending-list {
    display: list-item;
  }

  .trending-list li::before {
    color: #949394;    
    margin-right: 0.5em;
    font-size: 1em;
  }
}
